
.timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: 5px;
  margin-top: 20%;
  background-color: #000000e7;
  color: #ffffff;
  font-size: 150px;
}
  